.contact-container{
    margin-top: 4.5rem;
    margin-bottom: 5.7rem;
    position: relative;
}

.contact-container::after, .contact-container::before{
    content: "";
    width: 28rem;
    height: 28rem;
    border-radius: 28rem;
    background-color: #7c66e3;
    position: absolute;
    z-index: -1;
    filter: blur(290px);
}

.contact-container::after{
    top: -3rem;
    left: -8.5rem;
}

.contact-container::before{
    background: #9e51b9;
    bottom: -4rem;
    right: -2rem;
}

.contact-container h5{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.contact-content{
    display: flex;
    gap: 3rem;
}

.contact-links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media(max-width: 769px){
    .contact-content{
        flex-direction: column;
        gap: 3rem;
    }

    .contact-links{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1.5rem;
        column-gap: 4rem;
        padding-inline: 2rem;
    }
    .contact-container{
        margin-top: 3rem;
        margin-bottom: 5.7rem;
    }
}

@media(max-width: 426px){
    .contact-content{
        flex-direction: column;
        gap: 2rem;
    }

    .contact-links{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1rem;
        column-gap: 3rem;
        padding-inline: 1rem;
    }
    
}